# Exp 5 -  To Study and use Sets and Dictionaries in Python  

## Name : Ayush Pathare  
## PRN : 25070123166  
## Batch - EnTC A2

Sets are used to store multiple items in a single variable  
Sets items are ordered, unchangeable, and do not allow duplicate values. Unordered means that items in a set do not have a defined order. Set items can appear in a different order everytime you use them.

In [2]:
# Creation of set
myset = {"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin"}
print(myset)

{'Aston Martin', 'McLaren', 'Ferrari', 'Audi', 'Haas', 'Mercedes'}

In [3]:
# Duplicates not allowed
myset = {"Ferrari","Haas","McLaren","Ferrari","Ferrari"}
print(myset)

{'McLaren', 'Haas', 'Ferrari'}

In [7]:
# The values True and 1 are considered the same values in sets
myset = {"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin",True, 1, 2, 3, 4}
print(myset)

{'Aston Martin', 2, 3, 4, True, 'Haas', 'McLaren', 'Ferrari', 'Audi', 'Mercedes'}

In [13]:
# A set with strings, integers and boolean values:
setA = {"xyz",99,True,False,44,"wild west",78.992}
setA

{44, 78.992, 99, False, True, 'wild west', 'xyz'}

In [18]:
# To check membership
myset = {"Ferrari","Haas","McLaren","Ferrari","Ferrari"}
print("BMW" in myset)
print("Haas" in myset)

False
True

In [19]:
# Once a set is created, you cannot replace its items, but you can add new items.
myset = {"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin"}
myset.add("BMW")
print(myset)

{'BMW', 'Aston Martin', 'McLaren', 'Ferrari', 'Audi', 'Haas', 'Mercedes'}

In [20]:
# Remove Items
myset = {"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin"}
myset.remove("Audi")
print(myset)

{'Aston Martin', 'McLaren', 'Ferrari', 'Haas', 'Mercedes'}

In [22]:
# Set Operations
A = {1,2,3,4}
B = {3,4,5,6}
print("Union : ",A | B)
print("Intersection : ",A & B)
print("Difference : ",A - B)
print("Symmetric Difference", A ^ B)

Union :  {1, 2, 3, 4, 5, 6}
Intersection :  {3, 4}
Difference :  {1, 2}
Symmetric Difference {1, 2, 5, 6}

## Python FrozenSet  
frozenset is a immutable version of set.

In [23]:
# frozenset
myset = frozenset({"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin"})
print(myset)
print(type(myset))

frozenset({'Aston Martin', 'McLaren', 'Ferrari', 'Audi', 'Haas', 'Mercedes'})
<class 'frozenset'>

In [28]:
# Adding or removal of elements is not allowed in frozenset
myset = frozenset({"Ferrari","Haas","McLaren","Mercedes","Audi","Aston Martin"})
myset.add("BMW")
myset.remove("Audi")
print(myset)

AttributeError: 'frozenset' object has no attribute 'add'

In [27]:
# Merge frozensets using union
myset = frozenset({"Ferrari","McLaren","Mercedes","Aston Martin"})
newset = frozenset({"Apple","BlackBerry","Cherry"})
print("Union : ", myset | newset)

Union :  frozenset({'Aston Martin', 'BlackBerry', 'Cherry', 'McLaren', 'Apple', 'Ferrari', 'Mercedes'})

In [36]:
'''Problem Statement 1 : Unique Event Participants
A college even has a list of students who registered multiple times by mistake.
Write a program using set to store participant names and display only unique participants'''

registered_names = ["Sam Altman","Elon Musk","Satya Nadella","Jeff Bezos","Sundar Pichai","Marc Benioff","Elon Musk","Sam Altman","Jeff Bezos"]
unique_names = set(registered_names)
print("Unique Names: ",unique_names)

Unique Names:  {'Marc Benioff', 'Satya Nadella', 'Elon Musk', 'Jeff Bezos', 'Sundar Pichai', 'Sam Altman'}

In [35]:
'''Problem Statement 2 : Three students choose elective subjects.
Find the common subjects chosen by both students using set operations.'''

student1_electives = {"Software","Hardware","Cloud","CyberSec","Semicon","AIML","Mechanical","Designing"}
student2_electives = {"Cloud","Software","Painting","Sleeping","Running","Flying"}
student3_electives = {"Swimming","Laughing","Running","Cloud","Software"}
print("Common Sub :", student1_electives & student2_electives & student3_electives)

Common Sub : {'Software', 'Cloud'}

In [37]:
'''Problem Statement 3 : One set contains students in the Cricket Club, another in Football club.
Find students who are :
1. In both clubs & 2. In only one club'''

cricket_club = {"Alex","Ryan","Austin","Tyler","Rob","Mark","Joe"}
football_club = {"Ryan","Mark","Joe","Bruce","Tony","Austin"}
print("Students in Both Clubs: ",cricket_club & football_club)
print("Student in either one club: ",cricket_club ^ football_club)

Students in Both Clubs:  {'Austin', 'Ryan', 'Mark', 'Joe'}
Student in either one club:  {'Tony', 'Alex', 'Bruce', 'Tyler', 'Rob'}

In [40]:
'''Problem Statement 4 : Absent Students
Given a set of all students and set of present students, find the absent students.'''
all_students = {"monkey man","kangaroo man","spider man","ant man","zebra man","owl man","dolphin man","boring man"}
present_students = {"spider man","ant man","owl man","zebra man"}
print("Absent Students : ", all_students-present_students)

Absent Students :  {'dolphin man', 'boring man', 'kangaroo man', 'monkey man'}

In [43]:
'''Problem Statement 5 : Remove Invalid Entries.
A set contains valid course codes. Remove discontinued code from the set. use remove() / discard()'''

codes = {"TEE7238", "TEE7241", "TEE7123","TEE7690","TEE7100","TEE7444","TEE7292"}
codes.discard("TEE7444")
print(codes)

{'TEE7238', 'TEE7292', 'TEE7690', 'TEE7123', 'TEE7241', 'TEE7100'}