# Study of List & Various Operations
## Experiment 3 - Python Collections (Arrays)
Name - Ayush Pathare  
PRN - 25070123166  
Batch - EnTC A2

In [ ]:
# Python Lists
thislist = ["blueberry","strawberry","mulberry"]
print(thislist)

['blueberry', 'strawberry', 'mulberry']

In [ ]:
# List Items
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] and so on.

# Allows Duplicates

thislist = ["apple","banana","cherry","apple","banana"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'banana']

In [ ]:
# List length
thislist = ["cat","dog","horse"]
print(len(thislist))

3

In [ ]:
# A list with strings, integers and boolean values:
list1 = ["abc",34,True,40.40,"male"]
print(list1)

['abc', 34, True, 40.4, 'male']

In [ ]:
# Access items
thislist = ["apple","banana","cherry"]
print(thislist[1])

banana

In [ ]:
# Reverse/Negative Indexing
# Last item has negative index of [-1]
thislist = ["blueberry","strawberry","mulberry"]
print(thislist[-1])
print(thislist[-2])
print(thislist[-3])

mulberry
strawberry
blueberry

In [ ]:
# Slicing
thislist = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(thislist[2:5])
print(thislist[2:])
print(thislist[-4:])

['cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Change Item Value / Replace Value
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [ ]:
# Append Items
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Insert Items
thislist = ["apple","banana","cherry"]
thislist.insert(2,"balloon")
print(thislist)

['apple', 'banana', 'balloon', 'cherry']

In [ ]:
# Extend List
thislist = ["apple","banana","cherry"]
newlist = ["guava","papaya","pineapple"]
thislist.extend(newlist)
print(thislist)

thislist.insert(4,"mango")
thislist.append("watermelon")
print(thislist)

thislist.pop(4)
print(thislist)

['apple', 'banana', 'cherry', 'guava', 'papaya', 'pineapple']
['apple', 'banana', 'cherry', 'guava', 'mango', 'papaya', 'pineapple', 'watermelon']
['apple', 'banana', 'cherry', 'guava', 'papaya', 'pineapple', 'watermelon']

In [ ]:
# Length of list
n = len([3,4,5])
n

3

In [ ]:
8 in [3,4,5]

False

In [ ]:
# Repetition
list = (' -Symbi- ')*6
list

' -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi-  -Symbi- '

In [ ]:
L = ['spam','Spam','SPAM']
print(L[0])

spam

In [ ]:
numbers = [10,20,30,40,50]
# Slicing Examples
print("Elements from index 1 to 3:",numbers[1:4])
print("First three elements: ",numbers[:3])
print("Elements from index 2 onwards: ",numbers[2:])
print("All elements: ",numbers)

Elements from index 1 to 3: [20, 30, 40]
First three elements:  [10, 20, 30]
Elements from index 2 onwards:  [30, 40, 50]
All elements:  [10, 20, 30, 40, 50]

In [ ]:
# Problem Statement 1 - Find Max Min and Avg Marks from a list

marks = [78,85,90,66,88]
print("Maximum marks: ",max(marks))
print("Minimum marks: ",min(marks))
print("Average marks: ",sum(marks) / len(marks),end='\n\n')

marks.sort(reverse=False)
print("Marks in Ascending Order :",marks)
marks.sort(reverse=True)
print("Marks in Descending Order :",marks)

Maximum marks:  90
Minimum marks:  66
Average marks:  81.4

Marks in Ascending Order : [66, 78, 85, 88, 90]
Marks in Descending Order : [90, 88, 85, 78, 66]

In [ ]:
# Problem Statement 2 -
# Create Grocery List
# Add New items to this list
# Remove purchased items
# Display the final shopping list

market = ["Lettuce","Bread","Cheese","Mayo","Sauce","Patty"]

market.append("Butter") # Butter is added at the end
print("After Append: ",market,end='\n\n')

market.remove("Mayo") # Mayo is removed from list
print("After Remove: ",market,end='\n\n')

market.insert(1,"Water Bag") # Water bag is added at index 1 after Lettuce
print("After Insert",market,end='\n\n')

market.pop(4) # Sauce is at index 4 so it is removed
print("After Pop Obj: ",market,end='\n\n')

After Append:  ['Lettuce', 'Bread', 'Cheese', 'Mayo', 'Sauce', 'Patty', 'Butter']

After Remove:  ['Lettuce', 'Bread', 'Cheese', 'Sauce', 'Patty', 'Butter']

After Insert ['Lettuce', 'Water Bag', 'Bread', 'Cheese', 'Sauce', 'Patty', 'Butter']

After Pop Obj:  ['Lettuce', 'Water Bag', 'Bread', 'Cheese', 'Patty', 'Butter']

In [ ]:
# Problem Statement 3 -
# Create a list of contacts; Add New contact; Delete an existing contact, Display Contacts alphabetically

contacts = ["Jesus","Buddha","Vishnu","Sun Tzu","Pheonix","Fishman"]
print("Before Insert: ",contacts,end='\n\n')

contacts.insert(2,"Monkey King")
print("After Insert: ",contacts,end='\n\n')
contacts.remove("Fishman")

contacts.sort(reverse=False)
print("Alphabetical Order: ",contacts,end='\n\n')

Before Insert:  ['Jesus', 'Buddha', 'Vishnu', 'Sun Tzu', 'Pheonix', 'Fishman']

After Insert:  ['Jesus', 'Buddha', 'Monkey King', 'Vishnu', 'Sun Tzu', 'Pheonix', 'Fishman']

Alphabetical Order:  ['Buddha', 'Jesus', 'Monkey King', 'Pheonix', 'Sun Tzu', 'Vishnu']

In [ ]:
# Problem Statement 4 -
# Daily Temp readings of a city are stored in a list for 10 days
# Display Temp of first and last 5 Days; Find Highest and Lowest Temp; Calc Avg Temp

temp = [13,19,21,25,12,22,27,23,33,11]
print("Temp for 10 Days: ",temp, end='\n\n')
print("Temp of First 5 Days: ",temp[5:])
print("Temp of Last 5 Days: ",temp[-5:],end='\n\n')

print("Max Temp: ",max(temp))
print("Min Temp: ",min(temp),end='\n\n')

print("Avg Temp: ",sum(temp)/len(temp))

Temp for 10 Days:  [13, 19, 21, 25, 12, 22, 27, 23, 33, 11]

Temp of First 5 Days:  [22, 27, 23, 33, 11]
Temp of Last 5 Days:  [22, 27, 23, 33, 11]

Max Temp:  33
Min Temp:  11

Avg Temp:  20.6