# Exploratory Data Analysis
### First Practical

In [ ]:
print("Hello, Welcome to Programming")

Hello, Welcome to Programming

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
# Many Statements
print("Hello")
print("Today is a good day.")
print("Python is nice")

Hello
Today is a good day.
Python is nice

In [ ]:
# One logic line
print("Hello"); print("How is coding?"); print("Coding is fun")

Hello
How is coding?
Coding is fun

In [ ]:
# Printing Numbers
a = 3
print(a)
print(358)
print(500.200)

3
358
500.2

In [ ]:
# Variables
x = 5
y = "Hello, world!"

print(x); print(y)

5
Hello, world!

In [ ]:
# Python is Case sensitive
a = 4
A = "Sally"

print(a); print(A)

4
Sally

In [ ]:
# Values to multiple variables
x,y,z = "Orange", "Banana", "Cherry"
print(x,y,z)

Orange Banana Cherry

In [ ]:
# Basic Arithmetic Ops
a = 10; b = 5
print("Addition =",a+b); print("Subtraction =",a-b)
print("Multiplication =",a*b); print("Division =",a/b)

Addition = 15
Subtraction = 5
Multiplication = 50
Division = 2.0

In [ ]:
# Understanding Data Types

x = 10
y = 3.14
z = "Python"
A = True
C = 3 + 2j

print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
# Taking Input from user

name  = input("Enter your name: ")
age   = int(input("Enter your age: "))

print("Name: ",name); print("Age: ",age)

Enter your name: Ryan
Enter your age: 19
Name:  Ryan
Age:  19

In [ ]:
# Question 1 : Take marks of 5 subjects. Find sum and average

print("Enter marks for your subjects \n")
eng = int(input("English : "))
math = int(input("Math : "))
phys = int(input("Physics : "))
chem = int(input("Chemistry : "))
bio = int(input("Biology : "))
total = eng+math+phys+chem+bio

print("Your total marks = ",total)
print("Your average marks = ",total/5)

Enter marks for your subjects
English : 10
Math : 20
Physics : 30
Chemistry : 40
Biology : 50
Your total marks =  150
Your average marks =  30.0

In [ ]:
# Question 2 :Find area of a circle

print("To find Area of a Circle -")
r = int(input("Enter Value of Radius = "))
pi = 3.14
area = pi*r*r
print("Area of Circle = ",area)

To find Area of a Circle -
Enter Value of Radius = 7
Area of Circle =  153.86

In [ ]:
# Question 3 :Find area of a rectangle

print("To find Area of a Rectangle -")
l = int(input("Enter Value of length = "))
b = int(input("Enter Value of breadth = "))

print("Area of Rectangle = ",l*b)

To find Area of a Rectangle -
Enter Value of length = 7
Enter Value of breadth = 4
Area of Rectangle =  28

In [ ]:
# Question 4 : Find perimeter of rectangle

print("To find Perimeter of Rectangle -")
l1 = int(input("Enter Value of length = "))
b1 = int(input("Enter Value of breadth = "))

print("Perimeter of Rectangle = ",l1*2+b1*2)

To find Perimeter of Rectangle -
Enter Value of length = 9
Enter Value of breadth = 3
Perimeter of Rectangle =  24

In [2]:
# Question 5 : Simple Calculator

print("Simple Calculator")
print(" Operations : \n 1. Add \n 2. Subtract \n 3. Multiply \n 4. Divide \n")
choice = int(input("Choose Your Operation Number : "))
num1 = int(input("Enter 1st Number : "))
num2 = int(input("Enter 2nd Number : "))

match choice:

 case 1:
  print("Add : %d + %d = %d" % (num1,num2,num1+num2))

 case 2:
  print("Subtract : %d - %d = %d" % (num1,num2,num1+num2))

 case 3:
  print("Multiply : %d x %d = %d" % (num1,num2,num1*num2))

 case 4:
  print("Divide : %d / %d = %d" % (num1,num2,num1/num2))

 case _:
  print("Invalid Choice" )

Simple Calculator
 Operations :
 1. Add
 2. Subtract
 3. Multiply
 4. Divide

Choose Your Operation Number : 1
Enter 1st Number : 23
Enter 2nd Number : 47
Add : 23 + 47 = 70