# Operations on Tuple
## Practical 4
Name - Ayush Pathare  
PRN - 25070123166  
Batch - ENTC A-2

In [4]:
# Python Tuples
# Access tuple items
cars = ("Ferrari","McLaren","Mercedes","Aston Martin","Honda","Audi")
print(cars[2])

Mercedes

In [2]:
# Tuple is immutable
brands = ("Gucci","Lifestyle","Rolex","Casio","Titan","Sonata")
brands[2] = "Boat"
print(brands)

TypeError: 'tuple' object does not support item assignment

In [3]:
# Addition of Tuple
t1 = (1,3,7,9)
t2 = (2,4,6,8)
t3 = t1 + t2
print("t1: ",t1)
print("t2: ",t2)
print("t3: ",t3)

t1:  (1, 3, 7, 9)
t2:  (2, 4, 6, 8)
t3:  (1, 3, 7, 9, 2, 4, 6, 8)

In [6]:
# Address Verification after appending new item in the tuple
cars = ("Ferrari","McLaren","Mercedes","Aston Martin","Honda","Audi")
print("Before ID: ",id(cars))
new = ("RedBull",)
cars += new
print("After: ",id(cars))

Before ID:  132879034880960
After:  132879035014816

In [9]:
# Address Verification after appending new item in the list
cars = ["Ferrari","McLaren","Mercedes","Aston Martin","Honda","Audi"]
print("Before ID: ",id(cars))
new = ("RedBull")
cars += new
print("After: ",id(cars))

Before ID:  132879034389952
After:  132879034389952

In [19]:
# Problem Statement 1 - Student Result Analysis

profile = ("Math", 73, "B+")
print(profile,end="\n\n")

if profile[1] > 75:
  print("%d - Distinction" %profile[1])
else:
  print ("%d - Below Distinction" %profile[1])

('Math', 73, 'B+')

73 - Below Distinction

In [27]:
# Problem Statement 2 - Employee Attendance
# Store Attendance in tuple; Count and display total no. of days present and absent
# Check if employee absent atleast once

record = ("P","P","A","P","A","A","P","P","P","P")
print("Total Days Present: ",record.count("P"))
print("Total Days Absent:  ",record.count("A"))

absent = record.count("A")
if absent > 1:
  print("You have been absent more than once. Absent days = ",absent)
else:
  print("100% Attendance")

Total Days Present:  7
Total Days Absent:   3
You have been absent more than once. Absent days =  3